/.quarto/
/_site/
posts/source-sink/sourcesink2_output/*
posts/source-sink/sourcesink1_output/*
posts/source-sink/sourcesink3_output/*out
posts/source-sink/sourcesink3_output/*txt
posts/source-sink/sourcesink3_output/old_res/*.txt
posts/source-sink/sourcesink3_output/vacc_script/
posts/source-sink/sourcesink3.parquet
posts/source-sink/sourcesink2.parquet
